<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
    <title>NEWSru.com :: {{topic_rus_name}}</title>
    <link>https://www.newsru.com</link>
    <description>Все новости России и мира от NEWSru.com.</description>
    <lastBuildDate>{{ now|date:'D, d M Y H:i:s +0300' }}</lastBuildDate>

    <image>
        <title>NEWSru.com :: {{topic_rus_name}}</title>
        <url>http://static.newsru.com/v2/img/d100-75/newsrucom.png</url>
        <link>https://www.newsru.com</link>
        <width>100</width>
        <height>75</height>
        <description>NEWSru.com</description>
    </image>